.form {
    text-align: right;
  
  }
  
  .add-button {
    font: inherit;
    cursor: pointer;
    border: 1px solid rgb(250, 123, 72);
    color: rgb(253, 130, 82);
    padding: 0.8rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  .button input {
    border-radius: 10px;
  }
  .add-button:hover,
  .add-button:active {
    background-color: rgb(247, 182, 157);
    border-color: rgb(250, 123, 72);
  }
  @media screen and (max-width: 600px){
    .add-button {
      margin-left: 0; 
      margin-top: 1rem; 
 
    }
  }