.form {
    text-align: right;
  }
  
  .add-button {
    font: inherit;
    cursor: pointer;
    background-color: rgb(253, 130, 82);
    border: 1px solid rgb(250, 123, 72);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .add-button:hover,
  .add-button:active {
    background-color: rgb(247, 112, 59);
    border-color: rgb(250, 123, 72);
  }
  @media screen and (max-width: 600px){
    .add-button {
      margin-left: 0; 
      margin-top: 1rem; 
      text-align: right; 
    }
  }