/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background-color: rgb(58, 53, 53);
}
 */
.containermenuview{
    background-color: rgb(58, 53, 53);
}

.menu-container {
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

.menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.createproduct{
    height: 40px;
    width: 200px;
}
.menu-header h1 {
    font-size: 24px;
    color: #faf6f6;
}

.menu-categories {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 50rem;
}

.menu-categories .category {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.menu-categories .category:hover {
    background-color: #905f5f;
}

.menu-categories .category.active {
    background-color: #ed4e14;
    color: rgb(253, 253, 253);
}


.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

  
.menu-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    color: #777;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: white-space 0.5s ease;
}

  
.description {
    max-height: 3em; 
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}

  
.menu-item:hover .description p {
    white-space: normal;
}
  
.menu-item:hover .description {
    max-height: 100em; 
}

.menu-item {
  flex: 1 1 auto; 
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 10px; 
}

.menu-item:hover {
  transform: scale(1.05); 
  z-index: 1; 
}

.description {
  max-height: 3em; 
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.menu-item:hover .description {
  max-height: 100em; 
}

.menu-item .price {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.material-symbols-outlined{
    border: 1px solid black;
    border-color: gray;
    font-size: 30px;
    border-radius: 10px;
   
}

.figuremenu-item{
    height: 150px;
}

.editButton{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editButton button{
    width: 45px;
}

.update-message{
    margin-top: 10px;
    color:#ed4e14;
    font-weight: bold;
}
@MEDIA (MAX-WIDTH: 400PX) {
    
    .menu-container{
        margin-left: 0;
    }
    }