@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* background: url(https://img.freepik.com/free-photo/freshness-plate-seafood-sushi-avocado-cucumber-rice-nori-generated-by-artificial-intelligence_25030-65595.jpg?t=st=1717675532~exp=1717679132~hmac=645bbe4f7f007a22d38dd98aeba7be1474df03b5c22d348c5dc2d7fc14930980&w=1060) no-repeat; */
    background: url(https://img.freepik.com/free-photo/top-view-yummy-sweet-bagels-sugar-powdered-white-desk_140725-81098.jpg?t=st=1719518207~exp=1719521807~hmac=cb403341c4105857d2652ea0ff67a7deef79a90c4f2120486080a1f43008d1a3&w=900) no-repeat;
    /* background: url(https://img.freepik.com/free-photo/golden-cutlery-with-textile-plate-dark-background-top-view_1220-6607.jpg?t=st=1717841257~exp=1717844857~hmac=6bc0961ad656d2f7a1c4f60b7226e436ad40190427c1266fb024acd87762399e&w=900) no-repeat; */
    /* background: url(https://img.freepik.com/free-photo/dinner-table-with-bunch-green-oil-bottle-garlic-spoon-mixed-color-table_140725-86332.jpg?t=st=1717841286~exp=1717844886~hmac=6f432b948dbafbe122e68f8cbba5e1d51d0880d1faa5b7d1acefa351eabcf63f&w=900) no-repeat; */
    /* background: url(https://img.freepik.com/free-photo/high-angle-friends-reading-menu-restaurant_23-2150384795.jpg?t=st=1717842826~exp=1717846426~hmac=b5cb84759c98f65d9f19739db585df24c1411fa67b56f0bd085e3aa0410cf1a1&w=900) no-repeat; */
    background-position: center;
    background-size: cover;
}

.container-ticket {
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    width: 300px;
    height: 550px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
}

.container-caja-mesas {
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    /* width: 600px; */
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    /* height: 600px; */
}


.container-caja-mesas h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 2.6rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.iconos-dashboard {
    position: relative;
    height: 43%;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.icono {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket {
    height: 71.1%;
}

.botones {

    margin-left: 1px;
    height: 20%;
    /* border: 1px solid black; */
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.botones-arriba {
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton-atras {
    width: 48.5%;
    border-radius: 6px 18px 6px 6px;
    border: 0 solid transparent;
    background-color: lightblue;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
}

.boton-atras:hover {
    outline: 1px solid;
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

.boton-dash {
    width: 48.5%;
    border-radius: 18px 6px 6px 6px;
    border: 0 solid transparent;
    background-color: rgb(252, 166, 68);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
}

.boton-dash:hover {
    outline: 1px solid;
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}


.boton-eliminar {
    margin-top: 5px;
    border-radius: 6px 6px 18px 6px;
    height: 47%;
    width: 32%;
    border: 0 solid transparent;
    background-color: rgb(228, 0, 0);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
}
.boton-eliminar:hover {
    outline: 1px solid;
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

.boton-pagar {
    border-radius: 6px;
    height: 99%;
    width: 32%;
    border: 0 solid transparent;
    background-color: rgb(0, 187, 9);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    z-index: 25;
}
.boton-pagar:hover {
    outline: 1px solid;
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

.boton-anadir {
    
    border-radius: 6px;
    height: 47%;
    width: 32%;
    border: 0 solid transparent;
    background-color: rgb(75, 87, 255);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
}
.boton-anadir:hover {
    outline: 1px solid;
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

.boton-abrir-caja {
    border-radius: 6px 6px 6px 18px;
    height: 99%;
    width: 32%;
    border: 0 solid transparent;
    background-color: rgb(221, 224, 0);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
}
.boton-abrir-caja:hover {
    outline: 1px solid;
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}


.carta-caja {
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    min-width: 750px;
    max-width: 750px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    min-height: 700px;
}


.carta-caja h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 2.6rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .container-ticket{
        height: 95vh;
    }
  }

