
.kitchen-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  background-color: black;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: fit-content;
}
.order-container h5 {
  color:white;
}
.order-items-list {
  background-color: #f1edde;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  border: 4px solid #080303;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-basis: calc(20% - 32px);
  margin-bottom: 16px;
  width: 200px;
  min-height: 300px;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.order-item label {
  margin-left: 10px;
  cursor: pointer;
}

.order-item.completed label {
  text-decoration: line-through;
  color: #888;
}

.order-item input[type='checkbox'] {
  margin-right: 5px;
}
.completed {
  width: 10rem;
}

/* .completed:hover{
  background-color: rgb(192, 243, 162);
  width: 10rem;
  border-radius: 6px;
} */
.completed-green {
  background-color: rgb(192, 243, 162);
  fill: white; 
}
.order-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}