.kitchen-list {
  font-family: Arial, sans-serif;
  display: flex;
  gap: 0.7rem;
  margin: 1rem;
}

.order-container {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.order-items-list {
  list-style-type: none;
  padding: 0;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.order-item label {
  margin-left: 10px;
  cursor: pointer;
}

.order-item.completed label {
  text-decoration: line-through;
  color: #888;
}

.order-item input[type='checkbox'] {
  margin-right: 5px;
}