
.kitchen-list {
  height:100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 3rem;
  padding-right: 1rem;
  background-color: rgb(58, 53, 53);
}

.order-container {
  position: relative;
  background-color: white;
  margin: 10px;
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  transition: height 0.3s ease;
  height: 200px;
  cursor: pointer;
}
.order-container:hover {
  transform: scale(1.05); 
  z-index: 1; 
}

.order-container.collapsed {
  height: 100px; /* Adjust as needed for the collapsed height */
}

.order-container.expanded {
  height: auto; /* Adjust as needed for the expanded height */
}

.order-items-list {
  padding-left: 0px;
  min-height: 250px; 
}
.order-header {
  background-color: #ed4e14; 
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 5px;
}
.order-header-up {
  display: flex;
  justify-content: space-between;
}
.order-header-below{
  display: flex;
  margin: auto;
  width: 29%;
}
.order-items-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
}
.order-item {
  display: flex;
  
  justify-content: space-between;
  margin-bottom: 5px;
}

.order-item label {
  display: flex;
  align-items: center;
}

.order-item.completed {
  text-decoration: line-through;
  color: #888;
}

.order-item input[type='checkbox'] {
  margin-right: 5px;
}

.done-button {
  padding: 10px;
  background-color: #ed4e14; 
  margin-bottom: 12px;
}
.done-button.done {
  background-color: rgb(255, 77, 0);
  fill: white; 
}
.order-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.order-container.order-old{
  background-color: rgb(231, 119, 119);
}

.name-quantity {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}


/* .kitchen-list {
  display: flex;
  flex-wrap: wrap;
}

.order-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  position: relative;
  background-color: #f9f9f9;
}

.order-container.order-old {
  background-color: #f8d7da;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-header h5 {
  margin: 0;
  font-size: 14px;
}

.order-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-item {
  margin: 5px 0;
}

.order-item label {
  display: flex;
  align-items: center;
}

.order-item input[type="checkbox"] {
  margin-right: 5px;
}

.done-button {
  width: 100%;
  padding: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
}

.done-button.done {
  background-color: #6c757d;
} */
/* 
.done-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
} */