.side-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0 5%; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  /* z-index: 10; */
  /* border: 1px solid #ddd; */
}

.side-header button.active {
  width: 120%;
  font-weight: bold; /* Opcional: Puedes ajustar estilos adicionales para el botón activo */
}

.side {
  backdrop-filter: blur(15px);
  text-shadow: -1px 1px 14px rgba(0,0,0,1);
  color: rgb(255, 253, 253);
  margin: 2% 0 2% 0;
  border-radius: 0 20px 20px 0;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side img{
  margin-right: 3px;
}

.side:hover {
  width: 120%;
  margin: 2% 0 2% 0;
  border-radius: 0 20px 20px 0;
}

.link-no-decoration,
.link-no-decoration:visited,
.link-no-decoration:hover,
.link-no-decoration:active {
  text-decoration: none;
}



.cash-btn {
  
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(90, 90, 90);
  background: rgba(255, 255, 255, 0.70);
  background: linear-gradient(to right, rgba(239,231,0,0) 0%,rgba(152, 234, 141, 0.91) 50%,rgba(152, 234, 141,1) 55%,rgb(171, 241, 161) 61%,rgba(239,231,0,0) 68%);
  /* background: linear-gradient(90deg, rgb(163, 248, 157) 0%, rgb(152, 234, 141) 0%, rgba(251, 251, 251, 1) 100%); */
  
  /* background: linear-gradient(90deg, rgba(18, 255, 0, 1) 0%, rgba(31, 255, 0, 1) 0%, rgba(251, 251, 251, 1) 100%); */
}

.tables-btn{
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(90, 90, 90);
  background: rgb(18,255,0);
  background: linear-gradient(to right, rgba(239,231,0,0) 0%,rgba(115, 220, 238,0.91) 50%,rgba(115, 220, 238,1) 55%,rgb(98, 233, 240) 61%,rgba(239,231,0,0) 68%);
/* background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(0,215,255,1) 0%, rgba(251,251,251,1) 100%); */

}

.menu-btn{
  /* background: rgb(18,255,0);
background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(0,22,255,1) 0%, rgba(251,251,251,1) 100%); */
border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(90, 90, 90);
  background: rgb(18,255,0);
  background: linear-gradient(to right, rgba(239,231,0,0) 0%,rgba(121, 131, 243, 0.91) 50%,rgba(121, 131, 243,1) 55%,rgb(144, 151, 223) 61%,rgba(239,231,0,0) 68%);
}

.settings-btn{
  /* background: rgb(18,255,0);
  background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgb(145, 2, 255) 0%, rgba(251,251,251,1) 100%); */
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(90, 90, 90);
  background: rgb(18,255,0);
  background: linear-gradient(to right, rgba(255, 217, 0,0) 0%,rgba(255, 217, 0, 0.91) 50%,rgba(245, 218, 66,1) 55%,rgb(253, 230, 100) 61%,rgba(239,231,0,0) 68%);
}

.qr-btn{
  /* background: rgb(181, 209, 179);
  background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(255,0,254,1) 0%, rgba(251,251,251,1) 100%); */
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(90, 90, 90);
  background: rgb(18,255,0);
  background: linear-gradient(to right, rgba(239,231,0,0) 0%,rgba(172, 88, 172, 0.91) 50%,rgb(172, 88, 172) 55%,rgb(196, 89, 223) 61%,rgba(239,231,0,0) 68%);
}
.billing-btn{
  /* background: rgb(18,255,0);
background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(255,0,86,1) 0%, rgba(251,251,251,1) 100%); */
border-top: 2px solid rgb(0, 0, 0);
border-bottom: 2px solid rgb(90, 90, 90);
background: rgb(18,255,0);
background: linear-gradient(to right, rgba(239,231,0,0) 0%,rgba(148, 245, 141, 0.91) 50%,rgba(148, 245, 141,1) 55%,rgb(164, 235, 106) 61%,rgba(239,231,0,0) 68%);
}
.about-btn{
  /* background: rgb(18,255,0);
background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(255,128,0,1) 0%, rgba(251,251,251,1) 100%); */
border-top: 2px solid rgb(0, 0, 0);
border-bottom: 2px solid rgb(90, 90, 90);
background: rgb(18,255,0);
background: linear-gradient(to right, rgba(239,231,0,0) 0%,rgba(252, 190, 75, 0.91) 50%,rgba(252, 190, 75,1) 55%,rgb(230, 177, 125) 61%,rgba(239,231,0,0) 68%);
  }

.logout-btn{
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%, rgba(0,0,0,1) 100%); */
  border-top: 2px solid rgb(0, 0, 0);
border-bottom: 2px solid rgb(90, 90, 90);
background: rgb(18,255,0);
background: linear-gradient(to right, rgba(12, 12, 0, 0.0) 0%,rgba(241, 84, 84, 0.91) 50%,rgb(241, 84, 84) 55%,rgb(235, 119, 119) 61%,rgba(239,231,0,0) 68%);
}