.side-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0 5%; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  /* z-index: 10; */
  /* border: 1px solid #ddd; */
}

.side-header button.active {
  width: 120%;
  font-weight: bold; /* Opcional: Puedes ajustar estilos adicionales para el botón activo */
}

.side {
  text-shadow: -1px 1px 14px rgba(0,0,0,1);
  color: rgb(255, 255, 255);
  margin: 2% 0 2% 0;
  border-radius: 0 20px 20px 0;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side:hover {
  width: 120%;
  margin: 2% 0 2% 0;
  border-radius: 0 20px 20px 0;
}

.link-no-decoration,
.link-no-decoration:visited,
.link-no-decoration:hover,
.link-no-decoration:active {
  text-decoration: none;
}

.logout-btn {}

.cash-btn {
  background: rgb(18, 255, 0);
  background: linear-gradient(90deg, rgba(18, 255, 0, 1) 0%, rgba(31, 255, 0, 1) 0%, rgba(251, 251, 251, 1) 100%);
}

.tables-btn{
  background: rgb(18,255,0);
background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(0,215,255,1) 0%, rgba(251,251,251,1) 100%);
}

.menu-btn{
  background: rgb(18,255,0);
background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(0,22,255,1) 0%, rgba(251,251,251,1) 100%);
}

.settings-btn{
  background: rgb(18,255,0);
  background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(145,0,255,1) 0%, rgba(251,251,251,1) 100%);
}

.qr-btn{
  background: rgb(18,255,0);
  background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(255,0,254,1) 0%, rgba(251,251,251,1) 100%);
}
.billing-btn{
  background: rgb(18,255,0);
background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(255,0,86,1) 0%, rgba(251,251,251,1) 100%);
}
.about-btn{
  background: rgb(18,255,0);
background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(255,128,0,1) 0%, rgba(251,251,251,1) 100%);
  }

.logout-btn{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%, rgba(0,0,0,1) 100%);
}