.side-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0 5%; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  /* z-index: 10; */
  /* border: 1px solid #ddd; */
}

.side-header button.active {
  width: 120%;
  font-weight: bold;
  /* Opcional: Puedes ajustar estilos adicionales para el botón activo */
}

.side {
  text-shadow: -1px 1px 14px rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  margin: 2% 0 2% 0;
  border-radius: 0 20px 20px 0;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side:hover {
  width: 120%;
  margin: 2% 0 2% 0;
  border-radius: 0 20px 20px 0;
}

.link-no-decoration,
.link-no-decoration:visited,
.link-no-decoration:hover,
.link-no-decoration:active {
  text-decoration: none;
}



.cash-btn {
  background: rgb(178, 245, 173);
  background: linear-gradient(90deg, rgb(163, 248, 157) 0%, rgb(152, 234, 141) 0%, rgba(251, 251, 251, 1) 100%);
}

.tables-btn {
  background: rgb(139, 204, 244);
  background: linear-gradient(90deg, rgb(109, 232, 238) 0%, rgb(115, 220, 238) 0%, rgba(251, 251, 251, 1) 100%);
}

.menu-btn {
  background: rgb(131, 189, 239);
  background: linear-gradient(90deg, rgb(113, 196, 245) 0%, rgb(121, 131, 243) 0%, rgba(251, 251, 251, 1) 100%);
}

.settings-btn {
  background: rgb(239, 178, 47);
  background: linear-gradient(90deg, rgb(245, 218, 66) 0%, rgb(255, 217, 0) 0%, rgba(251, 251, 251, 1) 100%);
}

.qr-btn {
  background: rgb(169, 166, 162);
  background: linear-gradient(90deg, rgb(139, 135, 140) 0%, rgb(176, 163, 176) 0%, rgba(251, 251, 251, 1) 100%);
}

.billing-btn {
  background: rgb(18, 255, 0);
  background: linear-gradient(90deg, rgb(148, 245, 141) 0%, rgb(181, 240, 133) 0%, rgba(251, 251, 251, 1) 100%);
}

.about-btn {
  background: rgb(250, 211, 70);
  background: linear-gradient(90deg, rgb(252, 190, 75) 0%, rgb(251, 183, 115) 0%, rgba(251, 251, 251, 1) 100%);
}

.logout-btn {
  background: rgb(240, 138, 138);
  background: linear-gradient(90deg, rgb(238, 123, 123) 0%, rgb(241, 84, 84) 100%, rgba(0, 0, 0, 1) 100%);
}