@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(https://img.freepik.com/free-photo/happy-waiter-holding-plates-with-food-looking-camera-while-serving-guests-restaurant_637285-1707.jpg?t=st=1717841689~exp=1717845289~hmac=7ed9b0e68289f0cc453f21f8f4d9997e65fb41889eb7c741e926c116d32fb059&w=900) no-repeat;
    /* background: url(https://img.freepik.com/free-photo/golden-cutlery-with-textile-plate-dark-background-top-view_1220-6607.jpg?t=st=1717841257~exp=1717844857~hmac=6bc0961ad656d2f7a1c4f60b7226e436ad40190427c1266fb024acd87762399e&w=900) no-repeat; */
    /* background: url(https://img.freepik.com/free-photo/dinner-table-with-bunch-green-oil-bottle-garlic-spoon-mixed-color-table_140725-86332.jpg?t=st=1717841286~exp=1717844886~hmac=6f432b948dbafbe122e68f8cbba5e1d51d0880d1faa5b7d1acefa351eabcf63f&w=900) no-repeat; */
    /* background: url(https://img.freepik.com/free-photo/high-angle-friends-reading-menu-restaurant_23-2150384795.jpg?t=st=1717842826~exp=1717846426~hmac=b5cb84759c98f65d9f19739db585df24c1411fa67b56f0bd085e3aa0410cf1a1&w=900) no-repeat; */
    background-position: center;
    background-size: cover;
}

.container{
    
    position: relative;
    width: 400px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.input-container{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
    cursor: default;
}

.password{
    cursor: pointer;
}


.input-container label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-container input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #fff;
}

.input-container i{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.olvidar{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.olvidar label input{
    margin: 3px;
}

.olvidar label a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9rem;
    margin-left: 20px;
}

.olvidar label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .45s;
}

button:hover{
    opacity: .9;
}

.registrar{
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.registrar p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.registrar p a:hover{
    text-decoration: underline;
}


.container2{
    position: relative;
    width: 400px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.container2 .content h1{
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.container2 .content button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .45s;
}

.container2 .content button:hover{
    opacity: .9;
}

.r7 {
    margin-top: 15px;
}

.register-button p {
    margin-top: 15px;
    
}

.register-button a {
    font-weight: 700;
    color: white;
}

.register-button a:hover{
    color: black;
}

.restaurant-dropdown {
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.restaurant-dropdown option {
    color: black;
}

.restaurant-dropdown:focus {
    outline: none;
    border-bottom: 2px solid #fff;
}

.white-text-option {
    color: #fff;
}

.nombreDelRestaurante {
    color: black;
}

.white-text-option{
    color: white;
} 

.account{
    color: white;
}

.container-loading{   
    display: grid;
      place-content: center;
      height: 100vh;
  }
  .loading{
      width: 120px;
      height: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    margin: 0 auto; 
  }
  .text-loading{ 
    padding-top:20px
  }
  .loading span{
      font-size: 20px;
      text-transform: uppercase;
  }
  .dots {
      width: 30px;
      height: 30px;
      background-color: #00b8de;
      animation: salto .5s alternate
      infinite;
    border-radius: 50%  
  }
  .dots:nth-child(2) {
      animation-delay: .18s;
  }
  .dots:nth-child(3) {
      animation-delay: .37s;
  }
  @keyframes salto {
      from {
          transform: scaleX(1.25);
      }
      to{
          transform: 
          translateY(-50px) scaleX(1);
      }
  }
/* @media (max-width: 480px) {
    .container {
        width: 70%;
        padding: 15px;
        border: 2px solid red;
    }
    
    .container h1 {
        font-size: 2rem;
    }

    .input-container {
        margin: 15px 0;
    }

    .input-container input {
        height: 40px;
    }

    button {
        height: 40px;
        font-size: 0.9rem;
    }

    .registrar {
        font-size: 0.7rem;
    }
} */

/* @media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .container h1 {
        font-size: 1.8rem;
    }

    .input-container {
        margin: 10px 0;
    }

    .input-container input {
        height: 35px;
    }

    button {
        height: 35px;
        font-size: 0.8rem;
    }

    .registrar {
        font-size: 0.6rem;
    }
} */

